{% extends "groups/base.html" %}

{% load crispy_forms_tags %}

{% block groups_title %}Comments on {{ discussion.name }}{% endblock groups_title %}

{% block groups_subtitle %}
    <h2>Comments on {{ discussion.name }}</h2>
{% endblock groups_subtitle %}

{% block back_link %}
    <p><a href="{% url 'group-detail' pk=group.pk %}">Back to {{ group.name }}</a></p>
{% endblock back_link %}

{% block groups_main_content %}
    {% include "groups/subscribe_button.html" %}
    <ul>
        {% for comment in comments %}
            <li>
                <ul id="{{ comment.get_pagejump_anchor }}">
                    <li>
                        {{ comment.user }} wrote at <a href="{{ comment.get_pagejump }}">{{ comment.date_created }}</a>:
                        {% if comment.user_may_delete %}(<a href="{% url 'comment-delete' pk=comment.pk %}">delete this comment</a>){% endif %}
                    </li>
                    <li>
                        {% if comment.is_deleted %}
                            (Post deleted)
                        {% else %}
                            {{ comment.body }}
                        {% endif %}
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>

    {% crispy form %}
{% endblock groups_main_content %}
